// Scss Document
.c-section {
  &__title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 40px;
  }
  @include breakpoint(tablet){
    &__title {
    font-size: 2rem;
    font-weight: 400;
    margin: 40px;
    }
  }
}